@CHARSET "ISO-8859-1";
body {
	width: 1075px;
	margin: 0;
	padding: 0;
}

.filters {
	display: block;
	padding-left: 220px;
}

.btn-labl {
	display: inline-block;
	font-weight: bold;
	float: left;
}

.btns {
	width: 100px;
	display: inline-block;
	float: left;
	background-color: rgb(241, 241, 241);
	padding: 2px 10px;
	margin: 10px;
	border-radius: 10px;
	border: solid 1px;
}

.btns span {
	display: block;
	width: 100%;
	text-align: center;
}

.btns-clicked {
	background-color: rgb(65, 65, 65);
	color: rgb(255, 255, 255);
	font-weight: bold;
	width: 100px;
	display: inline-block;
	float: left;
	padding: 2px 10px;
	margin: 10px;
	border-radius: 10px;
	border: solid 1px;
}

.btns-clicked span {
	display: block;
	width: 100%;
	text-align: center;
}

.all-elements {
	width: 100%;
}

.carousel {
	width: 1512px;
	overflow: hidden;
	position: relative;
	max-height: 370px;
}

.container {
	display: inline-block;
	position: static;
	width: 2520px;
	heigth: 370px;
	float: left;
}

div[data-overlay="left"] {
	left: 0px;
}

div[data-overlay="right"] {
	right: 0px;
}
.overlay {
	padding: 110px;
	background-color: rgba(0, 0, 0, 0.7);
	float: left;
	width: 280px;
	height: 370px;
	min-height: 1px;
	overflow: hidden;
	position: absolute;
}
.container a {
	float: left;
}
.container a img {
	float: left;
	width: 480px;
	heigth: 360px;
	margin: 12px;
}

.carousel-btns {
	display: block;
	width: 900px;
	text-align: center;
}

